*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    overflow-x: hidden;
}


#fondoPantallaOfertas{
    position:absolute;
    width:100%;
    height:1270px;
    z-index:-1;
}

#fondoPantallaBuscar{
    position:absolute;
    top:150px;
    left:10px;
    width:530px;
    height:360px;

}


/**/
/*
#idFotoUno, #idFotoDos,#idFotoTres,#idFotoCuatro{
    width:200px;
    height:200px;
}
*/
.slide{
    width:300px;
    height:250px;
    top:80px;
    position:absolute;
    left:180px;
}
.slide:hover{
    cursor:pointer;
}

.slideBanderas{
    width:90px;
    height:60px;
    position:absolute;
    left:30px;
    top:20px;
    visibility: visible; /* Cambiar de hidden a visible */

}


#idFotoUnoBanderaBrasil{
    position:absolute;
    left:30px;
    top:20px;
}

/**/

#flechaBajarSitio, #flechaSubirSitio{
    width:60px;
    height:80px;
}


#flechaSubirSitio{
    position:absolute;
    bottom:15px;
    left:1050px;
}

#flechaSubirSitio:hover{
    cursor:pointer;
}

#flechaBajarSitio:hover{
    cursor:pointer;
}


/**/

ul{
    list-style:none;
}

#navLi ul{
    /*margin-left:100px;*/
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    background-color: rgb(66, 66, 66);
    height:90px;
    width:100%;
    position:absolute;
    top:30px;
    align-items: center;
}

#navLi ul li:hover{
    background-color: #575757;

}

/**/


#navLi ul a{
    font-size:25px;
    color:white ;

}

#navLi ul #li1,#li2,#li3,#li4{
    padding:25px;
}


#li5 label input{
    height:40px;
    width:200px;
    margin-left:400px;
    margin-top:20px;

}
#li5 label input:hover{
    background-color: rgb(200, 200, 200);

}

#liSitioEnQueEstas{
    font-size:35px;
    top:0px;
    left:100px;
    width:500px;
    position:relative;
    color:white;
    font-weight:bold;
}


/*****************/


#idFooter{
    width:100%;
    background-color: aliceblue;
    position:absolute;
    top:1100px;
    display:grid;
    height:150px;
    grid-template-columns:repeat(3,1fr);
}

#grupo1Footer{
    font-size:22px;
    grid-gap:2px;/*seria el margen*/
    max-width:600px;
    height:140px;
    padding:20px;
    width:600px;
}

#grupo2{
    display:grid;
    margin-left:0px;/*seria el margen*/
    background-color: aliceblue;
    max-width:600px;
    width:400px;
    grid-gap:2px;/*seria el margen*/
}
#textoAsesoramiento {
    font-size:28px;
    padding:5px;
}
#grupo2 li{
    list-style-type:disc;
    padding:2px;
    margin-left:5px;
    font-size:21px;
}

#grupo3{
    display:grid;
    margin-top:30px;
    margin-left:90px;
}

#fotoParaIcono{
    width:150px;
    height:150px;
    position:absolute;
    top:0px;
}


input::placeholder{
    font-size:25px;
} 

