*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    overflow-x: hidden;
}

#fondoPantallaOfertas{
    position:absolute;
    top:150px;
    left:10px;
    width:530px;
    height:360px;

}


/**/
/*
#idFotoUno, #idFotoDos,#idFotoTres,#idFotoCuatro{
    width:200px;
    height:200px;
}
*/
.slide{
    width:300px;
    height:250px;
    top:80px;
    position:absolute;
    left:180px;
}

.slideBanderas{
    width:90px;
    height:60px;
    position:absolute;
    left:30px;
    top:20px;
    visibility: visible; /* Cambiar de hidden a visible */

}


#idFotoUnoBanderaBrasil{
    position:absolute;
    left:30px;
    top:20px;
}



/**/

#flechaBajarSitio, #flechaSubirSitio{
    width:60px;
    height:90px;
}


#flechaSubirSitio{
    position:absolute;
    bottom:15px;
    left:540px;
}

#flechaSubirSitio:hover{
    cursor:pointer;
}

#flechaBajarSitio:hover{
    cursor:pointer;
}

/* */


.textoSlide{
    font-size:30px;
    position:absolute;
    top:40px;
    left:230px;
    font-size:30px;

}

#botonAnterior,#botonSiguiente{
    font-size:25px;
}

#botonAnterior:hover, #botonSiguiente:hover{
    cursor:pointer;
}

#botonAnterior{
    position:absolute;
    top:200px;
    font-size:40px;
}

#botonSiguiente{
    position:absolute;
    top:200px;
    font-size:40px;
    left:520px;
}

#idFlechaIzquierdaSitio{
    width:60px;
    height:60px;
    margin-left:00px;
}

#idFlechaDerechaSitio{
    width:65px;
    height:60px;
    margin-left:00px;
}

#idFlechaDerechaSitio:hover,#idFlechaIzquierdaSitio:hover{
    cursor:pointer;
}

#divBotonSiguiente{ /*Solo para ubicar el boton*/
    top:155px;
    left:00px;    
    position:absolute;
}

#divBotonAnterior{ /*Solo para ubicar el boton*/
    top:155px;
    left:500px;    
    position:absolute;
}

.slider{
    width:690px;
    height:400px;
    left:560px;
    background-color: yellow;
    position:absolute;
    top:150px;
}

/**/

ul{
    list-style:none;
}

#navLi ul{
    /*margin-left:100px;*/
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    background-color:green;
    height:80px;
    margin-top:10px;
    align-items: center;
}
/**/

#divBuscarPaquetes{
    position:absolute;
    left:10px;
    top:150px;
    background-color: rgb(231, 192, 142,0.8);
    width:530px;
    height:50px;
    border-radius: 10px 10px 1px 1px;
    
}

#divBuscarPaquetes2{
    position:absolute;
    left:10px;
    top:200px;
    background-color: rgba(142, 231, 184, 0.8);
    width:530px;
    height:310px;
    border-radius: 1px 1px 8px 8px;
    
}

#labelBuscarPaquetes{
    font-size:39px;
    position:absolute;
    left:15px;
    top:150px;
    font-weight: bold;
    color:rgb(84, 82, 82);
}

#textoButton1Header{
    font-size:30px;
    position:absolute;
    top:200px;
    left:17px;
    font-weight: bold;
}

#button1Header{
    width: 500px;
    left:15px;
    height:45px;
    position:absolute;
    top:250px;
    font-size:20px;
    object-fit: contain;
}

#textoButton1Header2{
    font-size:30px;
    left:15px;
    font-weight:bold;
    top:300px;
    position:absolute;
}

#selectIdMesesViajar{
    font-size:25px;
    position:absolute;
    top:350px;
    left:15px;
    width:500px;
}

#idLupaBuscador{
    font-size:35px;
    top:400px;
    left:339px;
    position:absolute;
    padding:5px 25px;
    background-color: rgb(141, 151, 255);
    border:none;
    border-radius: 5px;
}
#idLupaBuscador:hover{
    cursor:pointer;
}
/*
#idLupaBuscador2 {
    height:60px;
    width:50px;
    object-fit: contain;
}

#idLupaBuscador2:hover {
    cursor: pointer;
    filter: grayscale(1) contrast(0.2) sepia(0.9);
    background-color: rgb(255, 188, 188,0.1);

}

*/

/**/

#navLi ul a{
    font-size:25px;
}

#navLi ul #li1,#li2,#li3,#li4{
    padding:25px;
    position:relative;
}

#li5 label input{
    height:40px;
    width:200px;
    margin-left:400px;
    margin-top:20px;

}
#li5 label input:hover{
    background-color: rgb(200, 200, 200);

}


#mapaDireccion{
    display: none;
    position:absolute;
    left:740px;
    top:250px;
    width:500px;
    height:400px;
}

#inputBotonMapa{
    font-size:20px;
    position:absolute;
    left:910px;
    top:170px;
}

#liSitioEnQueEstas{
    font-size:28px;
    top:0px;
    left:100px;
    width:500px;
    position:relative;
}

#textoBotonMapa{
    font-size:25px;

}


#idFooter{
    width:100%;
    background-color: aqua;
    position:absolute;
    top:1100px;
    display:grid;
    height:150px;
    grid-template-columns:repeat(3,1fr);
}
#grupo1Footer{
    font-size:22px;
    grid-gap:2px;/*seria el margen*/
    max-width:600px;
    height:140px;
    padding:20px;
    width:600px;
    }
#grupo2{
    display:grid;
    margin-left:0px;/*seria el margen*/
    background-color: rgb(208, 227, 232);
    max-width:600px;
    width:400px;
    grid-gap:2px;/*seria el margen*/
}
#textoAsesoramiento {
    font-size:28px;
    padding:5px;
}
#grupo2 li{
    list-style-type:disc;
    padding:2px;
    margin-left:5px;
    font-size:21px;
}

#grupo3{
    display:grid;
    margin-top:30px;
    margin-left:90px;
}

#fotoParaIcono{
    width:100px;
    height:100px;

}

#idForm{
    position:absolute;
    top:170px;
    left:20px;
    width:700px;
    font-size:25px;
    height:790px;
    background-color: green;
}

#pIdForm{
    font-size:25px;
}

#idForm legend{
    text-align: center;
    font-size:25px;
}

#idForm input{
    height:40px;
}

#textoComentariosOpcional{ 
    top:41px;
    position:relative;
    width:260px;
    height:100px;
    left:10px;
}

#idTextareaComentariosOpcional{
    position:relative;
    left:290px;
    top:0px;
    height:auto;
}

#idTextareaComentariosOpcional textarea{
    height:370px;
    width:380px;
}

#idRadioForm p{
    display:inline;

}

#idComentariosOpcional{
    width:300px;
    height:300px;
    position:absolute;
    top:360px;
}

#idFormApellido,#idFormNombre,#idFormEmail,#idFormFecha{
    width:100%;
}

#idFormFecha{
    width:50%;
}
input::placeholder{
    font-size:25px;
} 

