*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    background-color: lightyellow;
}

body, html{
    font-family: Arial, Helvetica, sans-serif;    
}



#fondoPantallaOfertas{
    position:absolute;
    width:100%;
    height:1700px;
    z-index:-1;
}

#fondoPantallaBuscar{
    position:absolute;
    top:150px;
    left:10px;
    width:530px;
    height:360px;

}


/**/
/*
#idFotoUno, #idFotoDos,#idFotoTres,#idFotoCuatro{
    width:200px;
    height:200px;
}
*/
.slide{
    width:300px;
    height:250px;
    top:80px;
    position:absolute;
    left:180px;
}
.slide:hover{
    cursor:pointer;
}

.slideBanderas{
    width:90px;
    height:60px;
    position:absolute;
    left:30px;
    top:20px;
    visibility: visible; /* Cambiar de hidden a visible */

}


#idFotoUnoBanderaBrasil{
    position:absolute;
    left:30px;
    top:20px;
}

/**/

#flechaBajarSitio, #flechaSubirSitio{
    width:60px;
    height:80px;
}


#flechaSubirSitio{
    position:absolute;
    bottom:15px;
    left:950px;
}

#flechaSubirSitio:hover{
    cursor:pointer;
}

#flechaBajarSitio:hover{
    cursor:pointer;
}


/**/

ul{
    list-style:none;
}

#navLi ul{
    /*margin-left:100px;*/
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    background-color: rgb(66, 66, 66);
    height:90px;
    width:100%;
    position:absolute;
    top:30px;
    align-items: center;
}

#navLi ul li:hover{
    background-color: #575757;

}
/**/

#divBuscarPaquetes{
    position:absolute;
    left:10px;
    top:150px;
    background-color: rgb(231, 192, 142,0.8);
    width:530px;
    height:50px;
    border-radius: 10px 10px 1px 1px;
    
}

#divBuscarPaquetes2{
    position:absolute;
    left:10px;
    top:200px;
    background-color: rgba(142, 231, 184, 0.8);
    width:530px;
    height:310px;
    border-radius: 1px 1px 8px 8px;
    
}

#labelBuscarPaquetes{
    font-size:39px;
    position:absolute;
    left:15px;
    top:150px;
    font-weight: bold;
    color:rgb(84, 82, 82);
}

#textoButton1Header{
    font-size:30px;
    position:absolute;
    top:200px;
    left:17px;
    font-weight: bold;
}

#button1Header{
    width: 500px;
    left:15px;
    height:45px;
    position:absolute;
    top:250px;
    font-size:20px;
    object-fit: contain;
}

#textoButton1Header2{
    font-size:30px;
    left:15px;
    font-weight:bold;
    top:300px;
    position:absolute;
}

#selectIdMesesViajar{
    font-size:25px;
    position:absolute;
    top:350px;
    left:15px;
    width:500px;
}

#idLupaBuscador{
    font-size:35px;
    top:400px;
    left:339px;
    position:absolute;
    padding:5px 25px;
    background-color: rgb(141, 151, 255);
    border:none;
    border-radius: 5px;
}
#idLupaBuscador:hover{
    cursor:pointer;
}
/*
#idLupaBuscador2 {
    height:60px;
    width:50px;
    object-fit: contain;
}

#idLupaBuscador2:hover {
    cursor: pointer;
    filter: grayscale(1) contrast(0.2) sepia(0.9);
    background-color: rgb(255, 188, 188,0.1);

}

*/

/**/

#navLi ul a{
    font-size:25px;
    color:white ;

}

#Li ul #li1,#li2,#li3,#li4{
    padding:25px;
}


#li5 label input{
    height:40px;
    width:200px;
    margin-left:400px;
    margin-top:20px;

}
#li5 label input:hover{
    background-color: rgb(200, 200, 200);

}


#liSitioEnQueEstas{
    font-size:30px;
    top:0px;
    left:10px;
    width:440px;
    position:relative;
    color:white;
    font-weight:bold;
}


/*****************/

#paquetesElegidosItalia{
    background-color:aquamarine;
    position:absolute;
    top:600px;
    width:530px;
    left:70px;
    border-radius: 10px;
    height:400px;
    display:none;

}
.textoPaquetesElegidos{
    font-size:30px;
    margin-left:10px;
    margin-top:10px;
    font-weight:bold;
    text-decoration: underline;

}

.paquetesSlideImagen1{
    width:255px;
    height:255px;
    top:70px;
    left:240px;
    position:absolute;
    text-decoration: underline;
}

.textoPaquetesElegidos2{
    left:10px;
    top:90px;
    position: absolute;
    font-size:25px;

}

.textoPaquetesElegidos2_1{
    left:10px;
    top:130px;
    position: absolute;
    font-size:25px;

}


.textoPaquetesElegidos3{
    left:3px;
    top:170px;
    position: absolute;
    font-size:21px;

}

.textoPaquetesElegidos4{
    position: absolute;
    font-size:28px;
    top:350px;
    left:0px;
}
.textoPaquetesElegidos4_1{
    font-size:30px;
    top:230px;
    left:0px;
    position: absolute;
}


.textoPaquetesElegidos5{
    position: absolute;
    font-size:30px;
    top:350px;
    left:329px;
}

/*------------------*/
#paquetesElegidosItalia2{
    background-color:aquamarine;
    position:absolute;
    top:600px;
    width:530px;
    left:690px;
    border-radius: 10px;
    height:400px;
    display:none;

}
.textoPaquetesElegidos6{
    font-size:30px;
    margin-left:10px;
    margin-top:10px;
    font-weight:bold;
    text-decoration: underline;
}

.paquetesSlideImagen2{
    width:255px;
    height:255px;
    top:70px;
    left:240px;
    position:absolute;
    text-decoration: underline;
}

.textoPaquetesElegidos7{
    left:10px;
    top:90px;
    position: absolute;
    font-size:25px;
}

.textoPaquetesElegidos7_1{
    left:10px;
    top:130px;
    position: absolute;
    font-size:25px;
}


.textoPaquetesElegidos8{
    left:3px;
    top:200px;
    position: absolute;
    font-size:21px;
    width:250px;
}

.textoPaquetesElegidos9{
    position: absolute;
    font-size:28px;
    top:350px;
    left:0px;
}
.textoPaquetesElegidos9_1{
    font-size:30px;
    top:280px;
    left:0px;
    position: absolute;
}


.textoPaquetesElegidos10{
    position: absolute;
    font-size:30px;
    top:350px;
    left:329px;
}


/*------------*/
#paquetesElegidosItalia3{
    background-color:aquamarine;
    position:absolute;
    top:1050px;
    border-radius: 10px;
    width:530px;
    left:70px;
    height:400px;
    display:none;
}
.textoPaquetesElegidos11{
    font-size:30px;
    margin-left:10px;
    margin-top:15px;
    font-weight:bold;
    text-decoration: underline;
}

.paquetesSlideImagen3{
    width:215px;
    height:230px;
    top:70px;
    left:240px;
    position:absolute;
    text-decoration: underline;
}

.textoPaquetesElegidos12{
    left:10px;
    top:90px;
    position: absolute;
    font-size:25px;
}

.textoPaquetesElegidos12_1{
    left:10px;
    top:130px;
    position: absolute;
    font-size:25px;
}

.textoPaquetesElegidos13{
    left:10px;
    top:200px;
    position: absolute;
    font-size:21px;
}

.textoPaquetesElegidos14{
    position: absolute;
    font-size:30px;
    top:350px;
    left:0px;
}

.textoPaquetesElegidos14_1{
    font-size:30px;
    top:260px;
    left:0px;
    position: absolute;
    
}   

.textoPaquetesElegidos15{
    position: absolute;
    font-size:30px;
    top:350px;
    left:354px;
}

/* --------------------*/

#paquetesElegidosItalia4{
    background-color:aquamarine;
    position:absolute;
    top:1050px;
    width:530px;
    border-radius: 10px;
    left:690px;
    height:400px;
    display:none;
}
.textoPaquetesElegidos16{
    font-size:30px;
    margin-left:10px;
    margin-top:10px;
    font-weight:bold;
    text-decoration: underline;
}

.paquetesSlideImagen4{
    width:245px;
    height:250px;
    top:70px;
    left:260px;
    position:absolute;
    text-decoration: underline;
}

.textoPaquetesElegidos17{
    left:10px;
    top:90px;
    position: absolute;
    font-size:26px;
}

.textoPaquetesElegidos17_1{
    left:10px;
    top:130px;
    position: absolute;
    font-size:25px;
}

.textoPaquetesElegidos18{
    left:10px;
    top:200px;
    position: absolute;
    font-size:21px;
}

.textoPaquetesElegidos19{
    position: absolute;
    font-size:30px;
    top:350px;
    left:0px;
}
.textoPaquetesElegidos19_1{
    font-size:30px;
    top:260px;
    left:0px;
    position: absolute;
}

.textoPaquetesElegidos20{
    position: absolute;
    font-size:28px;
    top:350px;
    left:385px;
}
/***************/
#paquetesElegidosArgentina{
    background-color:aquamarine;
    position:absolute;
    top:600px;
    width:530px;
    left:70px;
    border-radius: 10px;
    height:400px;
    display:none;

}

.textoPaquetesElegidosArg1{
    font-size:30px;
    margin-left:10px;
    margin-top:10px;
    font-weight:bold;
    text-decoration: underline;

}

.paquetesSlideImagenArg1{
    width:255px;
    height:255px;
    top:70px;
    left:240px;
    position:absolute;
    text-decoration: underline;
}

.textoPaquetesElegidosArg2{
    left:10px;
    top:90px;
    position: absolute;
    font-size:25px;

}

.textoPaquetesElegidosArg2_1{
    left:10px;
    top:130px;
    position: absolute;
    font-size:25px;

}

.textoPaquetesElegidosArg3{
    left:3px;
    top:170px;
    position: absolute;
    font-size:21px;

}

.textoPaquetesElegidosArg4{
    position: absolute;
    font-size:25px;
    top:350px;
    left:0px;
}
.textoPaquetesElegidosArg4_1{
    font-size:30px;
    top:230px;
    left:0px;
    position: absolute;
}


.textoPaquetesElegidosArg5{
    position: absolute;
    font-size:30px;
    top:350px;
    left:329px;
}


/*------------*/
.textoSlide{
    font-size:50px;
    position:absolute;
    top:20px;
    left:230px;
    font-weight:bold;
    color:rgb(30, 29, 27)

}

#botonAnterior,#botonSiguiente{
    font-size:25px;
}

#botonAnterior:hover, #botonSiguiente:hover{
    cursor:pointer;
}

#botonAnterior{
    position:absolute;
    top:200px;
    font-size:40px;
}

#botonSiguiente{
    position:absolute;
    top:200px;
    font-size:40px;
    left:520px;
}

#idFlechaIzquierdaSitio{
    width:60px;
    height:60px;
    margin-left:00px;
}

#idFlechaDerechaSitio{
    width:65px;
    height:60px;
    margin-left:00px;
}

#idFlechaDerechaSitio:hover,#idFlechaIzquierdaSitio:hover{
    cursor:pointer;
}

#divBotonSiguiente{ /*Solo para ubicar el boton*/
    top:155px;
    left:00px;    
    position:absolute;
}

#divBotonAnterior{ /*Solo para ubicar el boton*/
    top:155px;
    left:500px;    
    position:absolute;
}

.slider{
    width:690px;
    height:400px;
    left:560px;
    background-color: rgb(90, 90, 90,0.7);
    position:absolute;
    top:150px;
}

#idFooter{
    width:1300px;
    background-color: aliceblue;
    position:absolute;
    top:1700px;
    display:grid;
    height:150px;
    grid-template-columns:repeat(3,1fr);
}
#grupo1Footer{
    font-size:22px;
    grid-gap:2px;/*seria el margen*/
    max-width:600px;
    height:140px;
    padding:20px;
    width:600px;
    }
#grupo2{
    display:grid;
    margin-left:0px;/*seria el margen*/
    background-color: aliceblue;
    max-width:600px;
    width:400px;
    grid-gap:2px;/*seria el margen*/
}
#textoAsesoramiento {
    font-size:28px;
    padding:5px;
}
#grupo2 li{
    list-style-type:disc;
    padding:2px;
    margin-left:5px;
    font-size:21px;
}

#grupo3{
    display:grid;
    margin-top:30px;
    margin-left:90px;
}

#fotoParaIcono{
    width:150px;
    height:150px;
    position:absolute;
    top:0px;
}


input::placeholder{
    font-size:25px;
} 

