/*Esta hoja de estilos contine lo relativo al menú superior (header) y los demás parámetros generales que afectan a todo el sitio, por ello es necesario enlazarla en todas las página. Luego, cada una tiene una hoja de estilos propia con sus especificidades.*/

html body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}


/*Header para pantallas mayores a 600px*/
@media screen and (min-width: 701px) {
    

header {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Alinea verticalmente los elementos */
    margin: 0;
    background-color: #333; /* Fondo del header */
    color: white; /* Color del texto */
}

.menu {
    display: flex;
    align-items: center; /* Alinea verticalmente los elementos del menú */
}

.menu ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu li {
    margin-left: 20px; /* Espacio entre cada elemento del menú */
}

.menu img {
    width: 100px; /* Ancho del logo */
    height: auto; /* Altura automática para mantener la proporción */    
}

li a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}

li a:hover {
    background-color: #111; /* Cambia el color de fondo al pasar el mouse */
}
}


/*Header para pantallas menores a 600px*/
@media screen and (max-width: 700px) {
    header {
        display: flex;
        justify-content: space-between;
        align-items: center; /* Alinea verticalmente los elementos */
        margin: 0;
        background-color: #333; /* Fondo del header */
        color: white; /* Color del texto */
    }

    .menu img {
        width: 100px; /* Ancho del logo */
        height: auto; /* Altura automática para mantener la proporción */    
    }
    
     /* Ocultar el menú */
     .menu ul {
        display: none; /* Oculta el menú */
    }

    /* Asegurarse de que el menú esté visible en dispositivos móviles cuando se hace clic en el botón de hamburguesa */
    .menu ul.show {
        display: flex; /* Muestra el menú */
        flex-direction: column; /* Apila los elementos verticalmente */
        position: absolute; /* Posición absoluta para superponerlo sobre otros elementos */
        top: 100%; /* Posiciona el menú debajo del botón de hamburguesa */
        left: 0; /* Alinea el menú a la izquierda */
        background-color: #333; /* Fondo del menú */
        width: 100%; /* Ancho completo del menú */
    }

    /* Asegurarse de que los elementos del menú estén visibles cuando el menú está abierto */
    .menu ul.show li {
        display: block; /* Muestra los elementos del menú */
    }      
}