.page-content{
    margin: 0;
    padding: 0;
    /* margin-top: 100px; */
}

/*=========================*/
/*====PANTALLAS PEQUEÑAS====*/
/*=========================*/


@media screen and (max-width: 600px) {
    .video_background {
      
        position: absolute; 
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        object-fit: cover;
        z-index: -1;
    }
    
    
    
    .secc1 h2{
        font-size: 2rem;
        word-wrap: break-word;
        text-align: center;
        
    }
    .marco{
    
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .cuadro{
        z-index: 1;
        background-color: beige;
        margin-left: 15px;
        margin-right: 15px;
        margin-top: -500px;
        margin-bottom: 50px;
        height: 300px;
        padding: 30px;
        padding-top: 10px;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;    
        background-image: url("../views/img/avion02.jpeg");
        background-size: cover; /* Ajustar la imagen al tamaño del cuadro */
        background-position: center; /* Centrar la imagen dentro del cuadro */
        
    
    }    

    .cuadro h2{
        font-size: 1.2rem;
}
    .cuadro h3{
        font-size: 1rem;
    }

    .cuadro img{
        
    }

    .iconos{     
        display: flex;
        flex-direction: row;
        align-self: center;
    }

    .iconos img {
        width: 30px;
        height: 30px;
        margin-right: 20px; /* Agregar un margen derecho de 20px */
    }

    .iconos img:last-child {
        margin-right: 0; /* Eliminar el margen derecho de la última imagen */
    }

    .boton{
        background-color: grey;
        border: none;
        border-radius: 10px;
        padding: 10px;
        color : white;
        cursor: pointer;
        width: 100%;
    }
}


/*=========================*/
/*====PANTALLAS GRANDES====*/
/*=========================*/

@media screen and (min-width: 601px) {



.video_background {
      
    position: absolute; 
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    z-index: -1;
}



.secc1 h2{
    font-size: 2rem;
    word-wrap: break-word;
    text-align: center;
    
}
.marco{

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
.cuadro{
    z-index: 1;
    background-color: beige;
    margin-left: 400px;
    margin-right: 400px;
    margin-top: -500px;
    margin-bottom: 50px;
    height: auto;
    padding: 30px;
    padding-top: 10px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background-image: url("../views/img/avion02.jpeg");
    background-size: cover; /* Ajustar la imagen al tamaño del cuadro */
    background-position: center; /* Centrar la imagen dentro del cuadro */

}

.iconos{     
    display: flex;
    flex-direction: row;
    align-self: center;
}

.iconos img {
    width: 30px;
    height: 30px;
    margin-right: 20px; /* Agregar un margen derecho de 20px */
}

.iconos img:last-child {
    margin-right: 0; /* Eliminar el margen derecho de la última imagen */
}

.boton{
    background-color: grey;
    border: none;
    border-radius: 10px;
    padding: 10px;
    color : white;
    cursor: pointer;
    width: 100%;
}





}



