.page-content{
    margin: 0;
    padding: 0;
    /* margin-top: 100px; */
}

/*=========================*/
/*====PANTALLAS PEQUEÑAS====*/
/*=========================*/


@media screen and (max-width: 600px) {
    body {
        max-height: 300px;
    }
    .secc1 img{
        position: absolute; 
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        object-fit: cover;
        z-index: -1;
    }
    
    .secc1 h2{
        position: absolute;
        top: 15%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 1.5rem;
        word-wrap: break-word;
        text-align: center;
        width: 90%;
    }
    
    .secc1 form{
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        font-size: 1.2rem;
    }
    
    .secc1 form select{
        font-family: Arial, Helvetica, sans-serif;
        width: 100%;
        height: 30px;
        border-radius: 10px;
    }
     
    .secc1 form label{
        font-family: Arial, Helvetica, sans-serif;
        width: 100%;
        text-align: left;
    }
    
    .secc1 form input{
        font-family: Arial, Helvetica, sans-serif;
        width: 100%;
        height: 30px;
        border-radius: 10px;
    }
    
    .secc1 form textarea{
        font-family: Arial, Helvetica, sans-serif;
        width: 100%;
        height: 80px;
        border-radius: 10px;
    }

    .peq{
        color: #fff;
        margin-left: 5px;
        margin-right: 5px;
    }
    
    .secc1 form button{
        background-color: #2a0c70;
        color: #fff;
        border-radius: 35px;
        padding: 10px 20px;
        border: none;
        cursor: pointer;
        width: 100%;
        height: 30px;
        border-radius: 10px;
    }
    

}


/*=========================*/
/*====PANTALLAS GRANDES====*/
/*=========================*/

@media screen and (min-width: 601px) {

body {
    max-height: 300px;
}
.secc1 img{
    position: absolute; 
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    z-index: -1;
}

.secc1 h2{
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    word-wrap: break-word;
    text-align: center;    
}

.secc1 form{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 1.2rem;
    margin-top: 15px;
}

.secc1 form select{
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 30px;
    border-radius: 10px;
}
 
.secc1 form label{
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    text-align: left;
}

.secc1 form input{
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 30px;
    border-radius: 10px;
}

.secc1 form textarea{
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 80px;
    border-radius: 10px;
}

.secc1 form button{
    background-color: #2a0c70;
    color: #fff;
    border-radius: 35px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    height: 30px;
    border-radius: 10px;
}   

.secc2{
    position: absolute;
    top: 350px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1rem;
    word-wrap: break-word;
    text-align: center; 
}

.form-check {
    display: flex;
    /* flex-direction: row;     */
    font-size:medium;
    margin-bottom: 10px;
  }

  .peq{
    color: #fff;
  }

  .form-check label{    
    align-items: right;
    color: #fff;
  }

  .form-check label a{    
    color: #fff;
  }

  .form-check input{    
    align-items: left;    
  }


}



