<head>
    <link rel="stylesheet" href="../../css/footer.css">
</head>

<footer id="idFooter">

    <div id="grupo1">
        <p>Sobre nosotros</p>
        <p>Agencia de Viajes, empresa de viajes y de turismo, Argentina.</p>
    </div>

    <div id="grupo2">
        <p id="textoAsesoramiento">Nuestras sucursales</p>
        <li><a class="link" href="../content/offices.html">Alto Palermo</a></li>
        <li><a class="link" href="../content/offices.html">Alto Avellaneda</a></li>

    </div>
    <div id="grupo3">
        <img id="fotoParaIcono" src="../img/logo02.png">
    </div>

    <div class="footer-copyright">
        <p class="text-center text-gray-400">© 2024 - Todos los derechos reservados.</p>
    </div>

</footer>