<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/nav.css">
    <title>trabajo con GRID</title>
</head>
<body>
    <div class="container">
        <header class="nav header">
            <ul>
                <li><a href="../../views/content/home.html"><img src="../../views/img/logo01.png" alt="logo" ></a></li>
                <li><h3 >Agencia de viajes</h3></li>   
                <li><a href="../../views/content/home.html" class="big">Inicio</a></li>             
                <li><a href="../../views/content/offers.html" class="bigOf">Ofertas</a></li>
                <li><a href="../../views/content/offices.html"class="big">Sucursales</a></li>
                <li><a href="../../views/content/contact.html"class="big">Contacto</a></li>
                
                <li>
                    <div >
                        <a href="#" class="dropdown">Menu</a>
                        <!-- menu desplegable responsive-->
                        <ul class="dropdown-content">
                            <li><a href="../../views/content/offers.html" class="dropdown">Ofertas</a></li>
                            <li><a href="../../views/content/offices.html" class="dropdown">Sucursales</a></li>
                            <li><a href="../../views/content/contact.html" class="dropdown">Contacto</a></li>
                        </ul>
                    </div>
                </li>        
              </ul>
        </header>
        
    </div>
    
</body>
</html>