*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    overflow-x: hidden;
}

ul{
    list-style:none;
}

#navLi ul{
    /*margin-left:100px;*/
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    background-color:green;
    height:80px;
    padding:0px;
    margin-top:10px;
    align-items: center
}

#button1Header{
    width: 100px;
    height: auto;
    cursor: pointer;
    right:200px;
    bottom:9px;
    position:relative;
}

#idLupaBuscador {
    height:60px;
    width:50px;
    margin-top:10px;
    margin-left:10px;
    margin-right:6px;
    object-fit: cover;
    margin-top: 15px;
    object-fit: contain;/*mantiene propiedad imagen*/

}

#idLupaBuscador:hover {
    cursor: pointer;
    filter: grayscale(1) contrast(0.2) sepia(0.9);
    background-color: rgb(255, 188, 188,0.1);

}

#navLi ul a{
    font-size:25px;
}

#navLi ul #li1,#li2,#li3,#li4{
    padding:25px;
    position:relative;
}

#li5 label input{
    height:40px;
    width:200px;
    margin-left:400px;
    margin-top:20px;

}
#li5 label input:hover{
    background-color: rgb(200, 200, 200);

}


#mapaDireccion{
    display: none;
    position:absolute;
    left:740px;
    top:250px;
    width:500px;
    height:400px;
}

#inputBotonMapa{
    font-size:20px;
    position:relative;
    left:910px;
    top:50px;
}

#liSitioEnQueEstas{
    font-size:28px;
    top:0px;
    left:100px;
    width:500px;
    position:relative;
}

#textoBotonMapa{
    font-size:25px;

}
#selectOptionFormulario{
    width:200px;
    height:auto;
}

#idFooter{
    width:100%;
    background-color: aqua;
    position:absolute;
    top:1100px;
    display:grid;
    height:150px;
    grid-template-columns:repeat(3,1fr);
}
#grupo1Footer{
    font-size:22px;
    grid-gap:2px;/*seria el margen*/
    max-width:600px;
    height:140px;
    padding:20px;
    width:600px;
    }
#grupo2{
    display:grid;
    margin-left:0px;/*seria el margen*/
    background-color: rgb(208, 227, 232);
    max-width:600px;
    width:400px;
    grid-gap:2px;/*seria el margen*/
}
#textoAsesoramiento {
    font-size:28px;
    padding:5px;
}
#grupo2 li{
    list-style-type:disc;
    padding:2px;
    margin-left:5px;
    font-size:21px;
}

#grupo3{
    display:grid;
    margin-top:30px;
    margin-left:90px;
}

#fotoParaIcono{
    width:100px;
    height:100px;

}

#idForm{
    position:relative;
    top:30px;
    left:20px;
    width:700px;
    font-size:25px;
    height:900px;
    background-color: green;
}

#pIdForm{
    font-size:25px;
}

#idForm legend{
    text-align: center;
    font-size:25px;
}

#idForm input{
    height:40px;
}

#textoComentariosOpcional{ 
    top:41px;
    position:relative;
    width:260px;
    height:100px;
    left:10px;
}

#idTextareaComentariosOpcional{
    position:absolute;
    left:300px;
    top:400px;

}

#idTextareaComentariosOpcional textarea{
    height:400px;
    width:396px;
}

#idRadioForm p{
    display:inline;

}

#idComentariosOpcional{
    width:300px;
    height:300px;
    position:absolute;
    top:360px;
}

#idFormApellido,#idFormNombre,#idFormEmail,#idFormFecha{
    width:100%;
}

#idFormFecha{
    width:50%;
}
input::placeholder{
    font-size:25px;
} 

