<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/nav.css">
    <link rel="stylesheet" href="../../css/index.css">
    <link rel="icon" type="image/x-icon" href="../img/favicon.ico">
    <title>Agencia de viajes</title>
</head>
<body>
    <h3>Términos y condiciones</h3>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Commodi provident incidunt libero atque et quaerat perspiciatis voluptates iusto enim officia. Et omnis doloribus error sunt hic facere enim corrupti alias mollitia quisquam, consectetur, nobis, quod eius sapiente eum. Commodi assumenda nulla impedit voluptas corrupti ipsam illum vitae rerum amet provident fugit voluptatum nisi maxime vel nesciunt inventore fugiat odio aspernatur cum, laborum quasi minima ullam. Totam assumenda nisi omnis voluptate. Quam quaerat earum quae corrupti maxime, ratione voluptatem fuga blanditiis cum et eius numquam animi quasi. Cum saepe atque consequuntur minima accusamus necessitatibus beatae, quam, voluptate voluptatibus magnam officia facilis?</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Commodi provident incidunt libero atque et quaerat perspiciatis voluptates iusto enim officia. Et omnis doloribus error sunt hic facere enim corrupti alias mollitia quisquam, consectetur, nobis, quod eius sapiente eum. Commodi assumenda nulla impedit voluptas corrupti ipsam illum vitae rerum amet provident fugit voluptatum nisi maxime vel nesciunt inventore fugiat odio aspernatur cum, laborum quasi minima ullam. Totam assumenda nisi omnis voluptate. Quam quaerat earum quae corrupti maxime, ratione voluptatem fuga blanditiis cum et eius numquam animi quasi. Cum saepe atque consequuntur minima accusamus necessitatibus beatae, quam, voluptate voluptatibus magnam officia facilis?</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Commodi provident incidunt libero atque et quaerat perspiciatis voluptates iusto enim officia. Et omnis doloribus error sunt hic facere enim corrupti alias mollitia quisquam, consectetur, nobis, quod eius sapiente eum. Commodi assumenda nulla impedit voluptas corrupti ipsam illum vitae rerum amet provident fugit voluptatum nisi maxime vel nesciunt inventore fugiat odio aspernatur cum, laborum quasi minima ullam. Totam assumenda nisi omnis voluptate. Quam quaerat earum quae corrupti maxime, ratione voluptatem fuga blanditiis cum et eius numquam animi quasi. Cum saepe atque consequuntur minima accusamus necessitatibus beatae, quam, voluptate voluptatibus magnam officia facilis?</p>
</body>
</html>