<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/nav.css">
    <link rel="stylesheet" href="../../css/destination.css">
    <link rel="icon" type="image/x-icon" href="../img/favicon.ico">
    <title>Agencia de viajes</title>
</head>

<body>
    <header>
        <!-- script para insertar el menu de navegación -->
        <div id="contenido"></div>
        <script>
            fetch("../inc/nav.html")
                .then((response) => response.text())
                .then((data) => {
                    document.getElementById("contenido").innerHTML = data;
                });
        </script>
        <!--  -->
    </header>


    <main class="page-content">
        <div class="secc1">
            <div>
                <video autoplay loop muted class="video_background" src="../img/Salta.mp4">
                    Tu navegador no soporta la etiqueta de video.
                </video>
            </div>

            <div class="marco">
                <div>

                </div>
                <div class="cuadro">
                    <h2>Vamos al Noroeste argentino</h2>
                    <h3>Salidas</h3>
                </div>
            </div>
        </div>


    </main>

    <!-- footer -->
    <footer>
        <!-- script para insertar el footer -->
        <div id="contenidoFooter"></div>
        <script>
            fetch('../inc/footer.html')
                .then(response => response.text())
                .then(data => {
                    document.getElementById('contenidoFooter').innerHTML = data
                })
        </script>
        <!--  -->
    </footer>
</body>

</html>