<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/nav.css">
    <link rel="stylesheet" href="../../css/index.css">
    <link rel="icon" type="image/x-icon" href="./app/views/img/favicon.ico">
    <title>Agencia de viajes</title>
</head>
<body>
    <header>
        <!-- script para insertar el menu de navegación -->
        <div id="contenido"></div>
        <script>
          fetch("../inc/nav.html")
            .then((response) => response.text())
            .then((data) => {
              document.getElementById("contenido").innerHTML = data;
            });
        </script>
        <!--  -->
      </header>
      <main class="page-content">
        <!-- secciones -->
        <div class="secc1">
          <div>
            <img src="../img/avion01.jpg" alt="avion" />
          </div>
          <div>
            <h2>Encuentra tu próximo viaje</h2>
            <h3>Busca nuestras ofertas</h3>
            </h2>
          </div>
          <div>
            <form action="#">
              <br /><br />
              <select>
                <option value="norte">
                  Norte argentino: Jujuy, Salta, Tucumán
                </option>
                <option value="sur">Calafate y Tierra del Fuego</option>
                <option value="cordoba">Córdoba: sierras y ríos</option>
                <option value="mardel">Mar del Plata</option></select
              ><br /><br />
              <input type="submit" value="Buscar" />
            </form>
          </div>
        </div>
      </main>
  
      
      <!-- footer -->
  <footer>
    <!-- script para insertar el footer -->
    <div id="contenidoFooter"></div>
    <script>
      fetch('../inc/footer.html')
        .then(response => response.text())
        .then(data => {
          document.getElementById('contenidoFooter').innerHTML = data
        })
    </script>
    <!--  -->
  </footer>
</body>
</html>
