<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/nav.css">
    <link rel="stylesheet" href="../../css/index.css">
    <link rel="icon" type="image/x-icon" href="../img/favicon.ico">
    <title>Agencia de viajes</title>
</head>
<body>
    <header>
        <!-- script para insertar el menu de navegación -->
        <div id="contenido"></div>
        <script>
          fetch("../inc/nav.html")
            .then((response) => response.text())
            .then((data) => {
              document.getElementById("contenido").innerHTML = data;
            });
        </script>
        <!--  -->
      </header>
      <main class="page-content">
        <!-- secciones -->
        <div class="secc1">
          <div>
            <img src="../img/avion01.jpg" alt="avion" />
          </div>
          <div>
            <h2>Encuentra tu próximo viaje</h2>
            <h3>Busca nuestras mejores promociones</h3>
            </h2>
          </div>
          <div>
            <form id="formularioViaje" action="/app/views/content/offers.html" method="post">
              <br /><br />
              <select id="destino" name="destino">
                <option value="norte">Norte argentino: Jujuy, Salta, Tucumán</option>
                <option value="sur">Calafate y Tierra del Fuego</option>
                <option value="cordoba">Córdoba: sierras y ríos</option>
                <option value="mardel">Mar del Plata</option>
              </select>
              <br /><br />
              <input type="submit" value="Buscar" />
            </form>
          </div>
        </div>
      </main>
  
      
      <!-- footer -->
  <footer>
    <!-- script para insertar el footer -->
    <div id="contenidoFooter"></div>
    <script>
      fetch('../inc/footer.html')
        .then(response => response.text())
        .then(data => {
          document.getElementById('contenidoFooter').innerHTML = data
        })        
    </script>    

    <script>
     const formularioViaje = document.getElementById("formularioViaje");
const destinoSelect = document.getElementById("destino");

formularioViaje.addEventListener("submit", function(event) {
  event.preventDefault(); // Evita que el formulario se envíe por defecto

  const destinoSeleccionado = destinoSelect.value;

  switch (destinoSeleccionado) {
    case "norte":
      window.location.href = "./destination1.html";
      break;
    case "sur":
      window.location.href = "./destination2.html";
      break;
    case "cordoba":
      window.location.href = "./destination3.html";
      break;
    case "mardel":
      window.location.href = "./destination4.html";
      break;
    default:
      // Si no se selecciona ninguna opción, puedes mostrar un mensaje de error
      alert("Debe seleccionar un destino");
  }
});
       
    </script>
   
    <!--  -->
  </footer>
</body>
</html>
